@model Pokedex.Domain.pokemon.Pokemon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePokemon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePokemon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ataque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ataque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperAtauqe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperAtauqe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperDefesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperDefesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
