@model IEnumerable<Pokedex.Domain.pokemon.Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePokemon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperAtauqe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperDefesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePokemon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ataque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperAtauqe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperDefesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
